.input-container {
  @include primary-width;
  font-size: 20px;
  font-weight: 400;
  color: $color-primary-text;
  border: 1px solid $color-input-background;
  outline: none;
  border-radius: 16px;
  background-color: $color-input-background;
  padding: 16px;
  box-sizing: border-box;
  transition: background-color $time-function;

  &:hover,
  &:focus {
    background-color: $color-white-background;
  }

  &:not(:placeholder-shown) {
    background-color: $color-white-background;
  }

  &::placeholder {
    color: $color-placeholder-text;
  }
}

.error {
  border: 1px solid $color-error;
}
