@use "@/styles/variables.scss" as *;
@use "@/styles/mixins.scss" as *;

.heading {
  font-size: 24px;
  font-weight: 600;
  color: $color-primary-text;

  @media (min-width: 600px) {
    font-size: 36px;
  }
}

.text {
  font-size: 14px;
  font-weight: 600;
  color: $color-primary-text;

  @media (min-width: 600px) {
    font-size: 20px;
  }
}

.additional-text {
  @include primary-width;
  font-size: 14px;
  font-weight: 400;
  color: $color-primary-text;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}
