$color-gradient-start: #66E59B;
$color-gradient-end: #29CCA3;

$color-primary-text: #353538;
$color-secondary-text: #111212;
$color-white-text: #FFFFFF;
$color-placeholder-text: #5F5F62;

$color-input-background: rgba(255, 255, 255, 0.6);
$color-button-background: #150954;
$color-button-hover: #271871;
$color-white-background: #FFFFFF;
$color-menu-item-hover: #f0f0f0;

$gap-small: 16px;
$gap-big: 32px;
$gap-medium: 24px;

$time-function: 0.3s ease;






