.progress-container {
  width: 100%;
  max-width: 600px;
  height: 4px;
  margin-top: 32px;
  background: $color-input-background;
  border-radius: 8px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: $color-white-background;
  border-radius: 8px;
  width: 0;
  transition: width 0.8s ease;
}
